<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>The Weather Now</title>
		<link
			href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="style.css" />
		<link
			rel="stylesheet"
			media="screen and (max-width: 768px)"
			href="mobile.css"
		/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/skycons/1396634940/skycons.min.js"></script>
	</head>
	<body>
		<script
			type="text/javascript"
			src="https://maps.googleapis.com/maps/api/js?key={{ gmapsKey }}&libraries=places"
		></script>
	</body>
</html>
