<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>The Weather Now</title>
		<!-- Google Fonts: Open Sans -->
		<link
			href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"
			rel="stylesheet"
		/>
		<!-- Main CSS -->
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style.css') }}"
		/>
		<!-- Media Queries -->
		<!-- <link
			rel="stylesheet"
			media="screen and (max-width: 768px)"
			href="{{ url_for('static', filename='mobile.css') }}"
      /> -->
		<!-- Skycons link -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/skycons/1396634940/skycons.js"></script>
	</head>

	<body>
		<nav>
			<h3>Enter Location</h3>
			<input type="text" id="search" />
		</nav>
		<div class="container">
			<div id="showcase">
				<div id="stats">
					<div id="wind">
						<img src="static/wind.png" alt="wind" />
						<p id="wind-p">50Km/h</p>
					</div>
					<div id="humidity">
						<img src="static/humidity.png" alt="humidity" />
						<p id="humidity-p">70%</p>
					</div>
				</div>
				<h2 id="conditions">Nice and sunny</h2>
				<h1 id="temperature">30°</h1>

				<canvas id="icon-main" width="100" height="100"></canvas>

				<div id="forecast">
					<div id="day-1"></div>
					<div id="day-2"></div>
					<div id="day-3"></div>
					<div id="day-4"></div>
					<div id="day-5"></div>
				</div>
			</div>
		</div>
		<!-- Google Maps API link -->
		<script
			type="text/javascript"
			src="https://maps.googleapis.com/maps/api/js?key={{ gmapsKey }}&libraries=places"
		></script>
		<script src="{{url_for('static', filename='ui.js')}}"></script>
		<script src="{{url_for('static', filename='application.js')}}"></script>
	</body>
</html>
